<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.datasource">java:/comp/env/jdbc/pfa</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.default_schema">public</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.use_sql_comments">true</property>


		<mapping class="hr.ponge.pfa.model.EntityPfa" />
		<mapping class="hr.ponge.pfa.model.Document" />
		<mapping class="hr.ponge.pfa.model.DocumentTemplate" />
		<mapping class="hr.ponge.pfa.model.Picture" />
		<mapping class="hr.ponge.pfa.model.TemplatePicture" />
		<mapping class="hr.ponge.pfa.model.Tenant" />
		<mapping class="hr.ponge.pfa.model.TenantProperties" />
		<mapping class="hr.ponge.pfa.model.User" />
		<mapping class="hr.ponge.pfa.model.UserProperties" />



	</session-factory>
</hibernate-configuration>